
services:

  flokicoin_peer:
    image: ghcr.io/myfloki/flokicoin:latest
    hostname: mainnet-flokicoin-peer
    container_name: mainnet-flokicoin-peer
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "15212:15212" 
      - "15213:15213" 
    volumes:
      - ./data:/node
    command: "lokid -C=/node/lokid.conf"

